temp
temp/*
js
js/*
db
db/*
css
css/*
application/views/*
application/controllers/*
!application/controllers/tracker.php

application/models/addsitemodel.php

.project
.buildpath
.seetings
.htaccess
.idea